// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar {
	margin-bottom: 0px ;
}
.tuts-list-container{
	background-color:#92A3A8;
	top:51px;
	position:absolute;
	min-height:700px;
	width:300px;
	left:0;
	bottom:0;
	overflow:auto;
	-webkit-overflow-scrolling: touch;
	ul {
		margin: 0px;
		list-style:none;
		padding: 0px;
		li{
			cursor : pointer;
			border: none;
			padding: 10px;
			color:#263F50;
			border-bottom:1px solid white;
		}
	}
	h3{
		font-size:15px;
		small {
			font-size:12px;
			color: #263F50;
		}
		&.active {
			color:white;
		}
	}
}

.tuts-view-container {
	position: absolute;
	left:300px;
	min-height: 700px;
	padding:5px 25px;
	
}